@page
@model Stance.Web.Pages.Auth.RequestPasswordReset
@{
}
<section id="wrapper" class="login-register login-sidebar">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" asp-antiforgery="true" method="post">
                <a href="#" class="text-center d-block"></a>
                <div class="form-group mt-4">

                    <label asp-for="PageModel.EmailAddress"></label>
                    <input class="form-control" type="text" asp-for="PageModel.EmailAddress">
                    <span class="text-danger" asp-validation-for="PageModel.EmailAddress"></span>

                </div>
                <div class="form-group text-center mt-3">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>