@{
    Layout = "_Layout.cshtml";
    if (ViewData["page-class"] != null)
    {
        ViewData["page-class"] += " fix-header card-no-border";
    }
    else
    {
        ViewData["page-class"] = " fix-header card-no-border";
    }
    
}
@section styles {
    @RenderSection("styles", false)
}

<section id="wrapper" class="error-page">
    <div class="error-box">
        @RenderBody()
        <footer class="footer text-center">© @DateTime.Now.Year Project Initium.</footer>
    </div>
</section>

@section scripts {
    @RenderSection("scripts", false)
}