@using Stance.Web.Infrastructure.Constants
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="menu1">
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fas fa-users-cog"></i><span class="hide-menu">User Management</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Page(PageLocations.UserListing)">
                                <i class="fas fa-users"></i> Users
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Page(PageLocations.RoleListing)">
                                <i class="fas fa-user-tag"></i> Roles
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-footer">
        <a href="@Url.Page(PageLocations.AuthSignOut)" class="link" data-toggle="tooltip" title="Logout"><i class="fas fa-power-off"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>