@addTagHelper *, GravatarHelper.AspNetCore
@model Stance.Web.Components.ProfilePanel.ProfilePanelViewModel

<div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
        <div class="card-body">
            <div class="m-t-30 text-center">
                <img gravatar-email="@Model.EmailAddress" gravatar-size="150" class="img-circle" width="150" />
                <h4 class="card-title m-t-10">@Model.Name</h4>
            </div>
        </div>
    </div>
</div>