@page "/app/user-management/roles"
@using Stance.Web.Infrastructure.Constants
@model Stance.Web.Pages.App.UserManagement.Roles.ListRoles
@{
    Layout = "Shared/_AppLayout";
}

    <div class="row page-titles">
        <div class="align-self-center pl-0 col-md-7 col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="@PageLocations.AppDashboard">Home</a></li>
                <li class="breadcrumb-item">User Management</li>
                <li class="breadcrumb-item active">Roles</li>
            </ol>
        </div>
         <div class="col-md-5 col-12 align-self-center d-flex justify-content-end pr-0 mt-2 mt-md-0">
            <a asp-page="@PageLocations.RoleCreate" class="btn btn-sm float-right btn-info text-white">Create new role</a>
        </div>
    </div>


<div class="row narrow">
    <div class="col-12 pl-md-0 pr-md-0 pl-1 pr-1">
        <div class="card">
            <div class="card-body">
                
                <h3 class="card-title">Role Management <button type="button" class="btn-success btn btn-sm pull-right ml-2" data-filter-toggle><i class="fa fa-filter" aria-hidden="true"></i></button></h3>
                <h6 class="card-subtitle" id="table-description">Create new, edit existing, or delete roles</h6>
                <div class="table-responsive">
                    <table class="table table-hover clickable" id="roles" cellspacing="0" width="100%" aria-describedby="table-description" data-route="@ODataLocations.RoleListing" data-details="@Url.Page(PageLocations.RoleView, new {id = "__ID__"})">
                        <thead>
                        <tr>
                            <th id="name">Name</th>
                            <th id="resource-total">Resource Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/role-listing.js.gz" asp-append-version="true"></script>
}
