@page "/"
@using Stance.Web.Infrastructure.Constants
@model Stance.Web.Pages.External.Index
@{
    ViewData["page-class"] = "fix-header card-no-border";
}
<section id="wrapper" class="login-register login-sidebar">
    <div class="login-box card">
        <div class="card-body">
            <a href="#" class="text-center d-block"><img src="~/logo.png" alt="Home" /></a>
            <h3 class="p-2 rounded-title mt-4 mb-0">Welcome</h3>
            <small>YWelcome to Stance.  Please click <a href="@Url.Page(PageLocations.AuthSignIn)">here to sign in</a>.</small>
        </div>
    </div>
</section>