@page "/"
@model Stance.Web.Pages.External.Index
@{
    ViewData["page-class"] = "fix-header card-no-border";
}
<section id="wrapper" class="error-page">
    <div class="error-box">
        
        <footer class="footer text-center">© @DateTime.Now.Year DeviousCreation.</footer>
    </div>
</section>