html {
    background: #eef5f9;
}

body {
    font-size: 0.875rem;
}

.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\f054" !important;
    font-family: "fontawesome" !important;
}

.navbar-brand {
    img {
        height: 45px;
    }
}

.error-body {
    min-height: 100vh
}

.fix-header .topbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.page-wrapper {
    .container-fluid {
        min-height: calc(100vh - 130px);
    }
}

.login-register {
    background-color: Ghostwhite;
    position: unset;
    min-height: 100%;
    height: auto;

    .login-box {
        min-height: 100%;
        height: auto;
    }
}

.mini-sidebar {
    .navbar-brand {
        span {
            display: none;
        }
    }
}

.clickable {
    cursor: pointer;
}

.dataTables_length select {
    border: 0;
    background-image: linear-gradient(#009efb, #009efb), linear-gradient(#d9d9d9, #d9d9d9);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    padding-bottom: 5px;
    box-shadow: none;
}

.dataTables_filter input {
    border: 0;
    background-image: linear-gradient(#009efb, #009efb), linear-gradient(#d9d9d9, #d9d9d9);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 10px;
}

.error-box {
    min-height: 100%;
    height: auto;
    position: unset;
}

.btn-group label.btn-outline-secondary:not(.active) {
    color: #727b84 !important;
}

.btn-group label.btn-outline-secondary:hover {
    color: #fff !important;
}

.right-sidebar {
    position: initial;
}

.shw-rside {
    width: auto;
}

.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 auto 0 0;
    background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    flex-flow: column;
}

.modal-dialog-slideout {
    .modal-content {
        border: 0;
        min-height: 100vh;

        .modal-body {
            .modal-header {
                padding: 0 1rem 1rem 1rem;
                margin: 0 -1rem 1rem -1rem;
            }

            .modal-footer {
                padding: 1rem 1rem 0 1rem;
                margin: 1rem -1rem 0 -1rem;
            }
        }
    }
}

.card-no-border {
    .sidebar-footer {
        img {
            width: 150px !important;
        }
    }
}

@media (max-width: 767px) {
    .mini-sidebar .page-wrapper {
        margin-left: 0;
        padding-top: 0;
    }
}

@media (max-width: 576px) {
    .modal-dialog.modal-dialog-slideout {
        width: 80%;
    }
}

.search-pane {
    .search-input {
        display: flex;
        justify-content: space-between;

        .dataTables_filter {
            float: none;
        }
    }
}

.app-mfa-code {
    width: 250px;
}

#filters {
    h6 {
        font-weight: 600;
    }

    .form-check {
        padding-left: 0;

        label {
            font-size: 0.875rem;
        }
    }

    .filter-toggle {
        white-space: nowrap;
        line-height: 38px;
    }

    #search-bar-submit {
        margin-left: -38px;
        z-index: 10;
    }
}

.table-information {
    display: flex;
    justify-content: space-between;

    .dataTables_paginate {
        float: none;
    }
}

.helpful-info {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
}

.message-listing {
    table {
        thead {
            display: none;
        }

        td {
            padding: 0;
            margin-bottom: 0.25rem;

            .message-item {
                border-left: 3px solid;
                padding: 0.5rem 0.25rem;

                &.AlphaNotification {
                    border-left-color: #0f6674;
                }

                &.BetaNotification {
                    border-left-color: #721c24;
                }

                &.GammaNotification {
                    border-left-color: violet;
                }

                &.DeltaNotification {
                    border-left-color: peru
                }

                &.EpsilonNotification {
                    border-left-color: #7abaff;
                }
            }
        }
    }
}

.info-panel {
    margin-top: 6px;
    border-left: 3px solid;
    padding: 0.5rem 0.25rem;

    &[data-type="AlphaNotification"] {
        border-left-color: #0f6674;
    }

    &[data-type="BetaNotification"] {
        border-left-color: #721c24;
    }

    &[data-type="GammaNotification"] {
        border-left-color: violet;
    }

    &[data-type="DeltaNotification"] {
        border-left-color: peru;
    }

    &[data-type="EpsilonNotification"] {
        border-left-color: #7abaff;
    }

    .pre-formatted {
        white-space: pre-wrap;
    }
}


.dataTables_processing {
    top: -0.25rem !important;
    left: -0.25rem !important;
    bottom: -0.25rem !important;
    right: -0.25rem !important;
    background-color: rgba(255,255,255,0.5);
    z-index: 100 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
    border: 0 !important;
    border-radius: 0 !important;
    text-align: initial !important;
    align-content: center;
    justify-content: center;

    .processing-inner {
        position: absolute;
        border: 1px solid #d7dfe3;
        border-radius: 4px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        width: 200px;
        text-align: center;
        background-color: #fff;
        padding: 1em;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -26px;
    }
}



#global-system-alert-toggle {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 901;
}

#global-system-alerts {
    position: fixed;
    bottom: 0;
    z-index: 900;

    .alert {
        margin-bottom: 0;
        border-radius: 0;
        width: 100vw;
    }
}

.message-center.notifications {
    .message-item {
        border-left: 3px solid;

        &.AlphaNotification {
            border-left-color: #0f6674;
        }

        &.BetaNotification {
            border-left-color: #721c24;
        }

        &.GammaNotification {
            border-left-color: violet;
        }

        &.DeltaNotification {
            border-left-color: peru
        }

        &.EpsilonNotification {
            border-left-color: #7abaff;
        }

        &.read {
            h6, span {
                font-weight: 100;
            }
        }

        &.unread {
            h6, span {
                font-weight: 400;
            }
        }
    }
}

.page-titles .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    line-height: 22px;
}