/* THEME OVERRIDES */
@import './variable';

@import '../Themes/material-pro-lite-master/html/scss/app';
@import '../Themes/material-pro-lite-master/html/scss/pages';
@import '../Themes/material-pro-lite-master/html/scss/sidebar';
@import '../Themes/material-pro-lite-master/html/scss/widgets';
@import '../Themes/material-pro-lite-master/html/scss/grid';
@import '../Themes/material-pro-lite-master/html/scss/responsive';
@import '../Themes/material-pro-lite-master/html/scss/material';

/*******************
/* breadcrumb
*******************/

.page-titles .breadcrumb a {
  color: $themecolor;
}

/*******************
/* pagination
*******************/

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $themecolor !important;
  border-color: $themecolor !important;
}

/*******************
/*Top bar
*******************/

.topbar {
  background: $topbar;

  .navbar-header {
    background: rgba(0, 0, 0, 0.05);
  }

  .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
  }

  .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
  }

  .navbar-light .navbar-nav .nav-item > {
    a.nav-link {
      color: white !important;

      &:hover,
      &:focus {
        color: $themecolor-alt !important;
      }
    }
  }
}


/*******************
/*General Elements
*******************/

a.link {
  &:hover,
  &:focus {
    color: $themecolor!important;
  }
}

.bg-theme {
  background-color: $themecolor !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $themecolor;
  border-color: $themecolor;
}

.right-sidebar {
  .rpanel-title {
    background: $themecolor;
  }
}

.stylish-table {
  tbody tr {
    &:hover,
    &.active {
      border-left: 4px solid $themecolor;
    }
  }
}

.text-themecolor {
  color: $themecolor!important;
}

.profile-tab,
.customtab {
  li {
    a.nav-link {
      &.active {
        border-bottom: 2px solid $themecolor;
        color: $themecolor;
      }
      &:hover {
        color: $themecolor;
      }
    }
  }
}


/*******************
/*Buttons
*******************/

.btn-primary,
.btn-primary.disabled {
  background: $primary;
  border: 1px solid $primary;
  box-shadow: $primary-shadow;

  &:hover {
    background: $primary;
    box-shadow: $primary-shadow-hover;
    border: 1px solid $primary;
  }

  &.active, &:focus {
    background: $primary-dark;
    box-shadow: $primary-shadow-hover;
  }
}

.btn-themecolor,
.btn-themecolor.disabled {
  background: $themecolor;
  color: $white;
  border: 1px solid $themecolor;

  &:hover {
    background: $themecolor;
    border: 1px solid $themecolor;
  }

  &.active, &:focus {
    background: $themecolor-dark;
  }
}

.btn-success,
.btn-success.disabled {
  background: $success;
  border: 1px solid $success;
  box-shadow: $success-shadow;

  &:hover {
    background: $success;
    box-shadow: $success-shadow-hover;
    border: 1px solid $success;
  }

  &.active, &:focus {
    background: $success-dark;
    box-shadow: $success-shadow-hover;
  }
}

.btn-info,
.btn-info.disabled {
  background: $info;
  border: 1px solid $info;
  box-shadow: $info-shadow;

  &:hover {
    background: $info;
    border: 1px solid $info;
    box-shadow: $info-shadow-hover;
  }

  &.active, &:focus {
    background: $info-dark;
    box-shadow: $info-shadow-hover;
  }
}

.btn-warning,
.btn-warning.disabled {
  background: $warning;
  box-shadow: $warning-shadow;
  border: 1px solid $warning;

  &:hover {
    background: $warning;
    box-shadow: $warning-shadow-hover;
    border: 1px solid $warning;
  }

  &.active, &:focus {
    background: $warning-dark;
    box-shadow: $warning-shadow-hover;
  }
}

.btn-danger,
.btn-danger.disabled {
  background: $danger;
  border: 1px solid $danger;
  box-shadow: $danger-shadow;

  &:hover {
    background: $danger;
    box-shadow: $danger-shadow-hover;
    border: 1px solid $danger;
  }

  &.active, &:focus {
    background: $danger-dark;
    box-shadow: $danger-shadow-hover;
  }
}

.btn-inverse,
.btn-inverse.disabled {
  background: $inverse;
  border: 1px solid $inverse;
  color: $white;

  &:hover {
    background: $inverse;
    color: $white;
    border: 1px solid $inverse;
  }

  &.active, &:focus {
    background: $inverse-dark;
    color: $white;
  }
}

.btn-red,
.btn-red.disabled {
  background: $red;
  border: 1px solid $red;
  color: $white;

  &:hover {
    border: 1px solid $red;
    background: $red;
  }

  &.active, &:focus {
    background: $danger-dark;
  }
}

.btn-outline-secondary {
  background-color: $white;
  box-shadow: $default-shadow;
  transition: 0.2s ease-in;

  &:hover,
  &:focus,
  &.focus {
    box-shadow: $default-shadow-hover;
  }

  &.active, &:focus {
    box-shadow: $default-shadow-hover;
  }
}

.btn-outline-primary {
  color: $primary;
  background-color: $white;
  border-color: $primary;
  box-shadow: $primary-shadow;
  transition: 0.2s ease-in;

  &:hover,
  &:focus,
  &.focus {
    background: $primary;
    box-shadow: $primary-shadow-hover;
    color: $white;
    border-color: $primary;
  }

  &.active, &:focus {
    box-shadow: $primary-shadow-hover;
  }
}

.btn-outline-success {
  color: $success;
  background-color: transparent;
  border-color: $success;
  box-shadow: $success-shadow;
  transition: 0.2s ease-in;

  &:hover,
  &:focus,
  &.focus {
    background: $success;
    border-color: $success;
    color: $white;
    box-shadow: $success-shadow-hover;
  }

  &.active, &:focus {
    box-shadow: $success-shadow-hover;
  }
}

.btn-outline-info {
  color: $info;
  background-color: transparent;
  border-color: $info;
  box-shadow: $info-shadow;
  transition: 0.2s ease-in;

  &:hover,
  &:focus,
  &.focus {
    background: $info;
    border-color: $info;
    color: $white;
    box-shadow: $info-shadow-hover;
  }

  &.active, &:focus {
    box-shadow: $info-shadow-hover;
  }
}

.btn-outline-warning {
  color: $warning;
  background-color: transparent;
  border-color: $warning;
  box-shadow: $warning-shadow;
  transition: 0.2s ease-in;

  &:hover,
  &:focus,
  &.focus {
    background: $warning;
    border-color: $warning;
    color: $white;
    box-shadow: $warning-shadow-hover;
  }

  &.active, &:focus {
    box-shadow: $warning-shadow-hover;
  }
}

.btn-outline-danger {
  color: $danger;
  background-color: transparent;
  border-color: $danger;
  box-shadow: $danger-shadow;
  transition: 0.2s ease-in;

  &:hover,
  &:focus,
  &.focus {
    background: $danger;
    border-color: $danger;
    color: $white;
    box-shadow: $danger-shadow-hover;
  }

  &.active, &:focus {
    box-shadow: $danger-shadow-hover;
  }
}

.btn-outline-red {
  color: $red;
  background-color: transparent;
  border-color: $red;

  &:hover,
  &:focus,
  &.focus {
    background: $red;
    border-color: $red;
    color: $white;
    box-shadow: $danger-shadow-hover;
  }

  &.active, &:focus {
    box-shadow: $danger-shadow-hover;
  }
}

.btn-outline-inverse {
  color: $inverse;
  background-color: transparent;
  border-color: $inverse;

  &:hover,
  &:focus,
  &.focus {
    background: $inverse;
    border-color: $inverse;
    color: $white;
  }
}

.btn-themecolor,
.btn-themecolor.disabled {
  background: $themecolor;
  color: $white;
  border: 1px solid $themecolor;
  &:hover {
    background: $themecolor;
    opacity: 0.7;
    border: 1px solid $themecolor;
  }
  &.active,
  &:focus {
    background: $themecolor-dark;
  }
}


/*******************
/*sidebar navigation
*******************/

.sidebar-nav {
  background: $white;
  ul {
    li {
      a {
        color: $sidebar-text;
        &.active,
        &:hover {
          color: $themecolor-alt;
        }
        &.active {
          color: $dark;
        }
      }
      &.nav-small-cap {
        color: $muted;
      }
    }
  }
  > ul > li {
    &.active > a,
    &.active:hover > a {
      color: $white;
      background: $themecolor-alt;
      i {
        color: $white;
      }
      &:after {
        border-color: $white;
      }
    }
  }
  > ul > li > a {
    &.active,
    &:hover {
      i {
        color: $themecolor-alt;
      }
    }
    i {
      color: $sidebar-icons;
    }
    &.active {
      font-weight: 400;
      background: $white;
      color: $themecolor;
    }
  }
}

.card-no-border {
  .sidebar-nav {
    > ul > li >a {
      &.active {
        color: $white;
        background: $themecolor-alt;
        i {
          color: $white;
        }
        &:after {
          border-color: $white;
        }
      }
    }
  }
}

/* Steps Wizard */

.steps {
  a {
    &.disabled {
      color: #999;
    }

    &.done {
      color: $themecolor;

      .step-count {
        border: 3px solid $themecolor;
        background-color: $themecolor;
        color: #fff;
      }
    }

    &.current {
      border-color: $primary;
      background-color: #fff;
      color: $primary;

      .step-count {
        border: 3px solid $themecolor;
        background-color: transparent;
        color: $themecolor;
      }
    }

    .step-count {
      border: 3px solid $themecolor;
    }
  }
}