@{
    Layout = "_Layout.cshtml";
    if (ViewData["page-class"] != null)
    {
        ViewData["page-class"] += " fix-header fix-sidebar card-no-border";
    }
    else
    {
        ViewData["page-class"] = " fix-header fix-sidebar card-no-border";
    }

}
@section styles {
    @RenderSection("styles", false)
}


<div id="main-wrapper">
    @await Component.InvokeAsync("TopNav")
    @await Component.InvokeAsync("LeftNav")

    <div class="page-wrapper">
        <div class="container-fluid no-gutters">
            @RenderBody()
        </div>
        <footer class="footer">
            &copy; @DateTime.UtcNow.Year DeviousCreation
        </footer>
    </div>

</div>




@section scripts {
    @RenderSection("scripts", false)
}