<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/app.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/theme.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body class="@ViewData["page-class"]">

    @RenderBody()

<script src="~/theme.js" asp-append-version="true"></script>
<script src="~/app.js" asp-append-version="true"></script>
</body>
</html>
