@page "/app/system-alerts/edit/{id}"
@using Initium.Portal.Core.Constants
@using Initium.Portal.Web.Infrastructure.Constants
@model Initium.Portal.Web.Pages.App.SystemAlerts.EditSystemAlert
@{
    Layout = "Shared/_AppLayout";
    ViewData["Title"] = $"System Alerts | Editing {Model.Name}";
}

<div class="row page-titles">
    <div class="align-self-center pl-0 col-md-7 col-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="@PageLocations.AppDashboard">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="@PageLocations.SystemAlertListing">System Alerts</a></li>
            <li class="breadcrumb-item active">Editing System Alert @Model.Name</li>
        </ol>
    </div>
    <div class="col-md-5 col-12 align-self-center d-flex justify-content-end pr-0 mt-2 mt-md-0">
        <a class="btn btn-sm btn-secondary text-white mr-2" asp-page="@PageLocations.SystemAlertListing">Back to Listing</a>
        <button class="btn btn-sm btn-info text-white" type="submit" form="page-form">Save</button>        
    </div>
</div>

<form method="post" data-no-auto-validation id="role-create" class="form-material row pl-0 pr-0">
    <input type="hidden" asp-for="PageModel.SystemAlertId" />
    <div class="col-md-7">
            <div class="card card-outline-info">
                <div class="card-body">
                    <h4 class="card-title">Details</h4>
                        
                    <div class="form-group">
                                        <label asp-for="PageModel.Name"></label>
                                        <input class="form-control" type="text" asp-for="PageModel.Name" />
                                        <span class="text-danger small" asp-validation-for="PageModel.Name"></span>
                                    </div>
                    
                    <div class="form-group">
                        <label asp-for="PageModel.Message"></label>
                        <textarea class="form-control" asp-for="PageModel.Message"></textarea>
                        <span class="text-danger small" asp-validation-for="PageModel.Message"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="PageModel.Type"></label>
                        <select class="form-control" asp-for="PageModel.Type" asp-items="Html.GetEnumSelectList<SystemAlertType>()"></select>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="PageModel.WhenToShow"></label>
                        <input class="form-control" type="datetime-local" asp-for="PageModel.WhenToShow" />
                        <span class="text-danger small" asp-validation-for="PageModel.WhenToShow"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="PageModel.WhenToHide"></label>
                        <input class="form-control" asp-for="PageModel.WhenToHide" />
                        <span class="text-danger small" type="datetime-local" asp-validation-for="PageModel.WhenToHide"></span>
                    </div>
                </div>
            </div>
        </div>
</form>