@page "/welcome/setup-complete"
@using Stance.Web.Infrastructure.Constants
@model Stance.Web.Pages.FirstRun.SetupCompleted
@{
    Layout = "_ExternalLayout";
    ViewData["Title"] = "Not Found";
}
<section id="wrapper" class="login-register login-sidebar">
    <div class="login-box card">
        <div class="card-body">
            <a href="#" class="text-center d-block"><img src="~/logo.png" alt="Home" /></a>
            <h3 class="p-2 rounded-title mt-4 mb-0">Setup Completed</h3>
            <small>The system has now been set up.  Please click <a href="@Url.Page(PageLocations.AuthSignIn)">here to sign in</a>.</small>
        </div>
    </div>
</section>